*~
/*.tgz
/.cproject
/.nedfolders
/.oppbuildspec
/.project
/.pydevproject
/.settings
/.tmp2076
/.tmplib2076
/Makefile
MiXiM/base/messages/*_m.*
MiXiM/modules/messages/*_m.*
/cometos
/cometos_new.exe
/createMakefile.sh
/libcometos.dll
/makefrag_user
/out
src/CometOS
src/Makefile
src/platform/boards/AutoRNode/bootloader/AutoRNode
src/platform/boards/deRF2RCB/Makefile.prog
src/platform/boards/deRF2RCB256/Makefile.prog
src/platform/boards/devboard/Makefile.prog
src/platform/boards/devboard/bootloader/deRF2RCB
src/platform/boards/devboard/bootloader/devboard
src/platform/boards/devboard256/Makefile.prog
src/platform/boards/devboard256Flash/bootloader/AutoRNode
src/platform/boards/devboard256Flash/bootloader/devboard256Flash
src/platform/boards/devboard256Flash/tests/firmware/devboard256Flash
src/platform/boards/devboardFlash/bootloader/devboardFlash
src/platform/chips/s25fl/tests/async/AutoRNode
src/platform/chips/s25fl/tests/async/devboard256Flash
src/platform/chips/s25fl/tests/blocking/AutoRNode
src/platform/chips/s25fl/tests/blocking/devboard256Flash
src/platform/fs_bak
src/python/stack/*.pyc
!examples/hardware/examples/M3RssiSniffer/eval/*~
!src/communication/transformation/*~
!src/communication/mis/*~
!src/communication/algorithms/*~
!examples/simulation/topologies/custom/*~
